#css{
    width: 100px;
    height: 100px;
    /* border-color: blue;
    border-style:outset;
    border-width: 5px; */
    border: 2px dashed green;
    font-size: 20px;
    color: blue;
    font-weight: 150000;
    background-color: aqua;
    padding: 20px 30px 40px 50px;
    margin: 20px 30px;

}