.cat {
    position: absolute;
    transform: skewY(30deg);
}
.cat1 {
    top: 10px;
    z-index: 100;
}
.cat2 {
    top: 10px;
    left: 100px;
    z-index: 50;
}
.cat3 {
    top:10px;
    left: 200px;
    z-index: 1;
}